* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    background-color: lightgrey;
    text-align: center;
    width: 100%;
}

nav header {
    font-size: 4rem;
}

nav a {
    font-size: 3rem;
    padding: 10px;
    border-top: 1px solid black;
    display: block;
    white-space: nowrap;
}

a:link {
    color: black;
}
a:hover {
    color: blue;
}
a:visited {
    color: grey;
}

main{
    padding: 20px;
    padding-top: 0px;
    margin: 15px;
    margin-top: 0px;
}
.main-section{
    border-top: 2px solid black;
    padding: 30px;
}

header{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 10px;
}


ul{
    padding: 20px;
}

ul li {
    padding: 10px;
}

p {
    padding: 15px;
}

.code{
    background-color: lightgray;
    font-size: 2.7rem;
}

#introduction {
    border: none;
}
#ref{
    border-bottom: 1px solid black;
 }

 @media only screen and (min-width: 1080px) {
   nav{
       background-color: lightgrey;
       text-align: left;
       width: 300px;
       float: left;
       position: fixed;
       height: 100%;
   }

   nav header {
       font-size: 1.5rem;
      padding: 2rem;
   }

   nav a {
       font-size: 1.2rem;
       padding: 10px;
       border-top: 1px solid black;
       display: block;
       white-space: nowrap;
   }
   main{
       width:70%;
       float: right;
   }

   .code{
       background-color: lightgray;
       font-size: 1.2rem;
   }
